<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div *ngIf="!unProducto">
          <h3> Busque un Producto </h3>
        </div>
    </div>
  </div>
    
  <div class="row">
      <div class="col-sm-9">
        <div class="mostrarContainer" *ngIf="unProducto">
          <h3>{{unProducto.Descripcion}} </h3>
        
          <div class="card" style="width:600px">
              <div class="card-body">
                <h4 class="card-title">Id del producto: {{unProducto.Id}}</h4>
                <p class="card-text">Precio del producto: {{unProducto.Precio}}</p>
                <p class="card-text">Fecha de vencimiento: {{unProducto.FechaDeVencimiento | date}}</p>
                <p class="card-text">Ruta de Foto: {{unProducto.RutaDeFoto}}</p>
                <p class="card-text">Tipo: {{unProducto.Tipo}}</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>